# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# База данных
*.db
*.sqlite
*.sqlite3

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Файлы OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.temp

# Файлы сборки
dist/
build/
*.egg-info/
